.cta {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: $dark;
  text-decoration: none;
  overflow: hidden;

  &:hover {
    span {
      color: $white;
    }
  }

  &::before, &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.25s ease;
  }

  span {
    position: relative;
    color: $dark;
    transition: all 0.25s ease;
  }
}

.cta-fill{
  transition-duration: 0.5s;

  &--space {
    &::before{
      box-shadow: inset 0 0 0 1px $blue;
    }
    &:hover::before{
      box-shadow: inset 0 0 0 50px $blue;
    }
  }

  &--hack {
    &::before{
      box-shadow: inset 0 0 0 1px $red;
    }
    &:hover::before{
      box-shadow: inset 0 0 0 50px $red;
    }
  }

  &--travel {
    &::before{
      box-shadow: inset 0 0 0 1px $yellow;
    }
    &:hover::before{
      box-shadow: inset 0 0 0 50px $yellow;
    }
  }

  &--bar {
    &::before{
      box-shadow: inset 0 0 0 1px $dark;
    }
    &:hover::before{
      box-shadow: inset 0 0 0 50px $dark;
    }
  }
}
