@font-face {
  src: url(fonts/moon/light.otf);
  font-family: moon-light;
}

@font-face {
  src: url(fonts/moon/bold.otf);
  font-family: moon-bold;
}

@font-face {
  src: url(fonts/metropolis/Metropolis-Light.otf);
  font-family: metropolis-light;
}

@font-face {
  src: url(fonts/metropolis/Metropolis-Bold.otf);
  font-family: metropolis-bold;
}
