* {
  box-sizing: inherit;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #161F28;
  justify-content: center;
  font-family: moon-light;
}

.container {
  max-width: 1330px;
  margin: auto;
}

.text {
  &--body {
    font-family: metropolis-light;
    font-size: 21px;
    line-height: 30px;
    margin: 0 0 15px;
  }
}

.heading {
  text-align: center;
  margin: 0;
  padding: 40px 0 40px;
  font-family: moon-bold;
    font-size: 35px;

  @include media-breakpoint-up(md) {
      font-size: 45px;
      padding: 60px 0 60px;
  }


  @include media-breakpoint-up(lg) {
    font-size: 55px;
    padding: 40px 0 50px;

  }
}

.subheading {
  font-size: 35px;
  margin: 0 0 20px;
  font-family: moon-light;

  &--small {
    font-size: 25px;
    margin: 0 0 15px;
  }
}

.module-padding {
  padding: 50px 0;

  @include media-breakpoint-up(md) {
    padding: 70px 0;
  }

  @include media-breakpoint-up(lg) {
    padding: 100px 0;
  }

  &--no-top {
    padding-top: 0;
  }
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
