@font-face {
  src: url(fonts/moon/light.otf);
  font-family: moon-light;
}

@font-face {
  src: url(fonts/moon/bold.otf);
  font-family: moon-bold;
}

body {
  color: #161F28;
  font-family: moon-bold;
}

div {
  padding: 20px;
}

#hero, #bottom-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

#hero {
  background-image: url('./assets/design-with-name.png');
  height: 30em;
  padding: 10em 0;
  background-attachment: fixed;
}

#bottom-hero {
  background-image: url('./assets/contact3.png');
  height: 31em;
  margin: 2em -.5em;
  background-attachment: fixed;
  bottom: 0;
  padding: 1em;
}

.about {
  display: flex;
  margin-bottom: 5em;
}

.about-writing {
  display: flex;
  flex-direction: column;
}

#me {
  border-radius: 50%;
  width: 23em;
  padding: 0;
  margin-left: 0;
}

.me-div {
  margin-left: 0;
}

#break-image {
  background-image: url('./assets/projects2.png');
  height: 30em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}

.project-content {
  display: flex;
  padding: 5px;
}

img {
  width: 30em;
  padding: 1em;
}

a {
  display: block;
  margin: 1em 1em 0 0;
  color: #161F28;
  text-decoration: none;
}

.project-name, .about-title {
  text-align: center;
  font-size: 2.5em;
  margin: .25em;
}

.project-title {
  text-align: center;
  font-size: 2em;
  margin: .25em;
}

p {
  font-family: moon-light;
  font-size: 1.3em;
  text-align: justify;
}

.title-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  display: flex;
  justify-content: center;
  width: 4em;
  height: 2em;
  border: none;
  outline: none;
  transition: transform .2s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1.5em;
}

button:hover {
  cursor: pointer;
  transform: scale(1.6);
}

.show-button {
  background-image: url('./assets/chevron-down.png');
}

.hide-button {
  background-image: url('./assets/chevron-up.png');
}

.title-area-1 {
  border-bottom: 5px solid #C7DEED;
}

.space-link {
  border: 2px solid #C7DEED;
  border-radius: 3px;
  display: inline-block;
  padding: 1em;
}

.title-area-2 {
  border-bottom: 5px solid #FFF284;
}

.hack-link {
  border: 2px solid #FFF284;
  border-radius: 3px;
  display: inline-block;
  padding: 1em;
}

.title-area-3 {
  border-bottom: 5px solid #FFA89B;
}

.travel-link {
  border: 2px solid #FFA89B;
  border-radius: 3px;
  display: inline-block;
  padding: 1em;
}

.title-area-4 {
  border-bottom: 5px solid #161F28;
}

.bar-link {
  border: 2px solid #161F28;
  border-radius: 3px;
  display: inline-block;
  padding: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.15em;
  margin: none;
}

.contact-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: -3em;
  padding: 10em 0;
}

.contact-title {
  font-size: 2.5em;
}

#end-image {
  background-image: url('./assets/thanks.png');
  height: 37em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  text-align: center;
  margin-right: -20px;
  padding-bottom: -20px;
}


/* @media screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  #hero, #end-image, #bottom-hero, #break-image {
    padding: 1em 0;
    height: 3em;
    padding-top: 5em;
    background-attachment: scroll;
  }

  .about, .project-content {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

} */
