@font-face {
  src: url(fonts/moon/light.otf);
  font-family: moon-light;
}

@font-face {
  src: url(fonts/moon/bold.otf);
  font-family: moon-bold;
}


body {
  color: #161F28;
  font-family: moon-bold;
}

div {
  margin: 20px;
}

#hero {
  background-image: url('./assets/design1.jpeg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

#hero h1{
  margin: 15px;
  font-size: 3em;
  letter-spacing: 0.3em;
}

.project-content {
  display: flex;
}

img {
  width: 30em;
  /* height: 25em; */
  padding: 1em;
}

a {
  display: block;
  margin: 1em 0;
  color: #161F28;
  text-decoration: none;
}

.project-name, .project-title {
  text-align: center;
  font-size: 2.5em;
  margin: .5em;
}

p {
  font-family: moon-light;
  font-size: 20px;
}

.title-area-1 {
  border-top: 3px solid #C7DEED;
}

.space-link {
  border: 2px solid #C7DEED;
  border-radius: 3px;
  display: inline-block;
  padding: 1em;
}

.title-area-2 {
  border-top: 3px solid #FFF284;
}

.hack-link {
  border: 2px solid #FFF284;
  border-radius: 3px;
  display: inline-block;
  padding: 1em;
}

.title-area-3 {
  border-top: 3px solid #FFA89B;
}

.travel-link {
  border: 2px solid #FFA89B;
  border-radius: 3px;
  display: inline-block;
  padding: 1em;
}

.title-area-4 {
  border-top: 3px solid #161F28;
}

.bar-link {
  border: 2px solid #161F28;
  border-radius: 3px;
  display: inline-block;
  padding: 1em;
}

ul {
  list-style-type: none;
}

















/* .triangle {
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 100px solid #FFA89B;
}

.circle {
  width: 120px;
  height: 120px;
  background: #C7DEED;
  border-radius: 50%;
}

.square {
  width: 120px;
  height: 120px;
  background: #FFF284;
} */
