.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $white;
  transition: all .5s ease;
  overflow: hidden;
  z-index: 5;

  &--hide {
    top: -152px;

    @include media-breakpoint-up(md) {
      top: -112px
    }

    @include media-breakpoint-up(lg) {
      top: -72px
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 20px;
    list-style: none;
    justify-content: space-around;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      justify-content: space-between;

    }
  }

  &__link {
    color: $primary;
    text-decoration: none;
    font-family: metropolis-bold;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;
    background-repeat: no-repeat;
    transition: background-size .3s cubic-bezier(0, .7, .3 ,1), color .3s ease-out;
    // background-image: linear-gradient($white, $white);

    &--effect {
      background-position: 50% 50%;
      background-size: 0% 0%
    }

    &--blue {
      background-image: linear-gradient($blue, $blue);
    }

    &--yellow {
      background-image: linear-gradient($yellow, $yellow);
    }

    &--red {
      background-image: linear-gradient($red, $red);
    }

    &:hover {
      background-size: 100% 100%;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
