.projects {
  &__project-title {
    max-width: 70%;

    &--invert {
      margin-right: 0;
      margin-left: auto;
    }

    @include media-breakpoint-up(md) {
      max-width: none;
    }
  }

  &__image-wrapper {
    display: block;
    margin: 0 0 20px;

    @include media-breakpoint-up(md) {
      width: 45%;
      margin: 20px 0 0;
    }

    @include media-breakpoint-up(lg) {
      width: 50%;
      margin: 0;
    }
  }

  &__image {
    width: 100%;
  }

  &__content-wrapper {
    padding: 0 15px;

    @include media-breakpoint-up(md) {
      padding: 0 25px;
    }
  }

  &__subtitle {
    margin-top: 0;
  }

  &__top-wrapper {
    margin-left: 0;
    margin-bottom: 30px;

    &--invert {
      margin-right: 0;
      margin-left: auto;
      text-align: right;
    }

    @include media-breakpoint-up(md) {
      width: 75%;
      margin-bottom: 40px;
    }
  }

  &__body-wrapper {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;

      &--invert {
        flex-direction: row-reverse;
      }
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;

    @include media-breakpoint-up(md) {
      padding-left: 30px;
      width: 45%;

    }

    @include media-breakpoint-up(lg) {
      max-width: 320px;
      padding-left: 80px;
    }

    &--invert {
      @include media-breakpoint-up(lg) {
        padding-right: 80px;
        padding-left: 0;
        text-align: right;
      }
    }
  }

  &__cta {
    margin-right: 10px;
  }

  &__cta-wrapper {
    margin-top: 30px;
  }

  .swiper-slide {
    height: 100%;
    transition: all .5s ease;
  }

  &__controls-block {
    position: absolute;
    top: 25px;
    right: 30px;
    height: 30px;
    width: 60px;

    @include media-breakpoint-up(md) {
      top: 30px;
      right: 55px;
      height: 160px;
      width: 120px;
    }

    @include media-breakpoint-up(lg) {
      right: 100px;
    }

    &--invert {
      left: 30px;

      @include media-breakpoint-up(md) {
        left: 50px;
      }
      @include media-breakpoint-up(lg) {
        left: 100px;
      }
    }
  }

  &__controls-block-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .swiper-container {
    margin-top: 10px;
    padding-top: 10px;
  }

  .swiper-pagination {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      font-family: metropolis-light;
      bottom: 50%;
      transform: translateY(50%);
    }
  }

  .swiper-pagination-current {
    font-size: 80px;
  }

  .swiper-pagination-total {
    font-size: 40px;
    transform: translate(50%);
  }

  .swiper-button-next,
  .swiper-button-prev {
    left: auto;
    height: 40px;
    width: 40px;
    right: 50%;

    &__chevron {
      height: 25px;
      width: 25px;
      transition: all .3s ease;
    }

    &:after {
      content: '';
    }
  }

  .swiper-button-next {
    transform:  translate(50%, 50%) rotate(90deg);
    bottom: 0;
    top: auto;
    right: 0;

    &--invert {
      transform:  translate(50%, 0%) rotate(90deg);
      top: 0;
      bottom: auto;
    }

    &:hover {
      .swiper-button-next__chevron {
        transform: translateY(-8px);
      }
    }
  }

  .swiper-button-prev {
    transform: translate(-50%, 0%) rotate(-90deg) ;
    top: 0;
    left: 0;
    bottom: auto;

    &--invert {
      transform: translate(-50%, 50%) rotate(-90deg) ;
      top: auto;
      bottom: 0;
    }

    &:hover {
      .swiper-button-prev__chevron {
        transform: translateY(-8px);
      }
    }
  }
}
